# Auto detect text files and perform LF normalization
* text=auto

#Unity files
*.meta -text merge=unityamlmerge diff
*.unity -text merge=unityamlmerge diff
*.assset -text merge=unityamlmerge diff
*.prefab -text merge=unityamlmerge diff

*.cs linguist-detectable=true
*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
